# *.png

# Ignore local config with credentials
config.js

# node server
server/node_modules/
server/.env

# Docker
server/node_modules
server/npm-debug.log

# OS
.DS_Store
Thumbs.db
trip_logs/catches_2025-09-07-2.csv
/trip_logs
API_Key.png
App Deployment.png
OAuth Client.png
